<div class="col-md-12">
  <h1>{{restaurant.name}}</h1>
  <p>[{{restaurant.Category.name}}]</p>
</div>

<ul class="list-group">
  <li class="list-group-item">評論數：{{restaurant.Comments.length}}</li>
  <li class="list-group-item">瀏覽次數：</li>
  <li class="list-group-item">收藏數：</li>
</ul>